.DS_Store
.dart_tool/

.packages
.pub/
/.idea
.idea/
*.iml
build/
/build
.gradle
android/.idea/*
.settings
flutter.iml
getuiflut.iml
.vscode

Example/ios/Index/*
example/.flutter-plugins-dependencies
example/ios/Flutter/Flutter.podspec
example/ios/Flutter/flutter_export_environment.sh
lib/generated/i18n.dart

# FVM Version Cache
.fvm/

