<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.getui.getuiflut">
    <application>
        <service android:name="com.getui.getuiflut.FlutterIntentService" />
        <service
            android:name="com.getui.getuiflut.FlutterPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
    </application>
</manifest>
